<div class="w3-container">
  <div class="w3-row w3-padding">
    <div class="w3-col m5">
      <h4 class="">{{placeholder}}</h4>
    </div>
    <div class="w3-col m4 w3-right">
      <h4 class="w3-left">View as webpage : </h4>
      <ul class="social_icons">
        <li class="icon mail"></li>
        <li class="icon facebook"></li>
        <li class="icon twitte"></li>
      </ul>
    </div>
  </div>

  <div class="w3-row w3-padding w3-border w3-border-red">
    <div class="w3-col m4 w3-padding">
      <img src="img/logo.png" class="w3-image">
    </div>
    <div class="w3-col m8">
      <h1 class="w3-text-shadow top_heading  w3-text-red w3-margin-top" >{{title}}</h1> 
    </div>
  </div>

  <div class="w3-row w3-padding w3-border w3-red w3-border-red">
    <div class="w3-col m5 w3-padding">
      <img src="img/Marketing_Book.jpg" class="w3-image">
    </div>
    <div class="w3-col m7">
      <p class="" >{{pera1}}</p>
      <button class="w3-btn w3-yellow w3-xlarge">{{button1}}</button> 
    </div>
  </div>

  <div class="w3-row w3-padding w3-border w3-border-red">
    <div class="w3-col m9 w3-padding">
      <p class="" >{{pera2}}</p>
      <button class="w3-btn w3-red w3-large">{{button2}}</button> 
    </div>
    <div class="w3-col m3 w3-padding">
      <img src="img/scound_hero.png" class="w3-image w3-border w3-border-red">
    </div>
  </div>

  <div class="w3-row  ">
    <div class="w3-col m2 w3-padding">
      <img src="img/unnamed.png" class="w3-image">
    </div>
    <div class="w3-col m10">
      <h2 class="w3-text-red">{{comp_name}}</h2>
      <p class="textsp" >Address : {{address}}</p>
      <nav class="w3-topnav menu">
        <a href="#">Privacy Policy</a>
        <a href="#">Unsubscribe</a>
        <a href="#">Profile Prefrances</a>
      </nav>
    </div>
  </div>



</div>