<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

 
<!-- <div class="jumbotron text-center">
  <h4>{{heding}}</h4>
  <p>{{resize}}</p> 
</div> -->


<div class="w3-row w3-padding">
    <div class="w3-col m5">
      <h4 style="margin-left: 450px;">{{placeholder}}</h4>
    </div>
    <div class="w3-col m4 w3-right">
      <h4 class="w3-left">View as webpage : </h4>
      <ul class="social_icons">
        <li class="icon mail"></li>
        <li class="icon facebook"></li>
        <li class="icon twitte"></li>
      </ul>
    </div>
  </div>
<div class="container">
    
  <div class="row">
    <div class="col-sm-6">
      <h3><img src="img/darshanlogo.png" style="width:100px; height=100px;"></h3>
      <br><br><br>
      <h3><img src="img/darshanherosize.png" style="width:200px; height=200px;"></h3>
    </div>
    <div class="col-sm-6">
      
      <h1><b>{{designer}}</b></h1>
     
      <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</b></p>
      <p><b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</b></p>
      <h3><img src="img/darshanbuyticketnow.png" style="width:200px; height=200px;"></h3>
    </div>
  </div>
</div>
<hr>
<div class="container">
    
  <div class="row">
    <div class="col-sm-6"> <br><br><br>
      <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</b></p>
      <p><b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</b></p>
      <br><br><br>
      <h3><img src="img/darshansecondaryimage.png" style="width:200px; height=200px;"></h3>
    </div>
    <div class="col-sm-6">
        <br>
        <h3><img src="img/messageimage.png" style="width:200px; height=200px;"></h3>
    </div>
  </div>
</div>
<hr>
<div class="container">
    <h4><img src="img/footerlogo.png" style="width:100px; height=100px;"> Address<br></h4>
</div>
</body>
</html>
